* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-cont {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
}

.searchIcon {
  height: 28px;
  margin: 5px;
}

.listed {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}
